:root {
  --primary-color: #f7ee84;
  --secondary-color: #a1d7fb;
  --accent1-color: #bf7f12;
  --accent2-color: #4b5355;
  --heading-font: "Tinos Bold 700", sans-serif;
  --body-font: "Tinos Regular 400", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  font-family: Acme, Arial, sans-serif;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
  padding: 1rem;
}

.logo img {
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
  padding-left: 1rem;
  background-color: transparent;
  color: var(--accent2-color);
}

/* NAVIGATION */

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}

/* HERO */

.hero {
  position: relative;
  margin-bottom: 2rem;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article {
  background-color: #ace;
  margin: 1em auto;
  padding: 1em;
  max-width: 600px;
  font-size: 1.2rem;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 1rem;
}

/* SECTIONS */

section {
  margin: 16px;
  padding: 8px;
}

h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* ADVENTURES SECTION */

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.adventure-gallery figure {
  text-align: center;
  width: 150px;
}

.adventure-gallery img {
  width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.socialmedia {
  display: flex;
  gap: 1rem;
}

.socialmedia img {
  width: 32px;
  height: 32px;
}