header{
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}
body {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-family: var(--body-font);
    color: var(--accent1-color)
} 
h1 {
    font-weight: 700;
     position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}

:root {
    --primary-color: #f7ee84; /* straw */
    --secondary-color: #a1d7fb; /* uranian blue */
    --accent1-color: #bf7f12; /* dark goldenrod */
    --accent2-color: #4b5355; /* outer space */
    --heading-font: "Tinos Bold 700", sans-serif;
    --body-font: "Tinos Regular 400", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header,main,footer{
    width: 840px;
    margin: 0 auto;
  }
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
  }
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero article img {
    float: right;
    width: 125px;
  }
  